@model Pago

@{
    ViewBag.Title = "Editar Pago";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My Application</title>
    <!-- Incluir Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>

@if (TempData["mensaje"] != null)
{
    <div class="alert alert-success">
        @TempData["mensaje"]
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        @TempData["error"]
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar" method="post">
            <!-- Campo oculto para el id_pago -->
            <input type="hidden" name="id_pago" value="@Model.id_pago" />

            <!-- Input para mostrar el nombre del inquilino -->
            <div class="form-group">
                <label for="NombreInquilino">Nombre del Inquilino</label>
                <input type="text" id="NombreInquilino" name="NombreInquilino"
                    value="@Model.contrato.inquilino.Nombre @Model.contrato.inquilino.Apellido (@Model.contrato.inquilino.Dni)"
                    class="form-control" readonly />
            </div>

            <!-- Domicilio asociado al cliente -->
            <div class="form-group">
                <label for="Domicilio">Domicilio</label>
                <input type="text" id="Domicilio" value="@Model.contrato.inmueble.Direccion - $@Model.contrato.inmueble.Precio" readonly class="form-control" />
            </div>

            <!-- Fecha de pago -->
            <div class="form-group">
                <label asp-for="FechaDePago"></label>
                <input asp-for="FechaDePago" class="form-control" type="date" readonly />
                <span asp-validation-for="FechaDePago" class="text-danger"></span>
            </div>

            <!-- Importe -->
            <div class="form-group">
                <label asp-for="Importe"></label>
                <input asp-for="Importe" class="form-control" readonly data-val="false"/>
                <span asp-validation-for="Importe" class="text-danger"></span>
            </div>

            <!-- Motivo -->
            <div class="form-group">
                <label asp-for="Motivo"></label>
                <input asp-for="Motivo" class="form-control" />
                <span asp-validation-for="Motivo" class="text-danger"></span>
            </div>

            <!-- Botón de envío -->
            <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>
