

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My Application</title>

    <!-- Incluir Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css" />
</head>


@model IEnumerable<Pago>;
@if (TempData["mensaje"] != null)
{
    <div class="alert alert-success">
        @TempData["mensaje"]
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        @TempData["error"]
    </div>
}


<div>
<h2>Pagos recientemente</h2>
    <h4>
    <a asp-action="Buscar" class="btn btn-success">
        <i class="fas fa-plus"></i> Realizar pago
    </a>
    </h4>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Inquilino</th>
                <th>DNI</th>
                <th>Direccion</th>
                <th>Importe</th>
                <th>Fecha de pago</th>
                <th>Motivo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.id_pago</td>
                    <td>@item.contrato.inquilino.Nombre @item.contrato.inquilino.Apellido</td>
                   <td>@item.contrato.inquilino.Dni</td>
                   <td>@item.contrato.inmueble.Direccion</td>
                    <td>$@item.Importe</td>
                    <td>@item.FechaDePago.ToString("dd/MM/yyyy")</td>
                    <td>@item.Motivo</td>
                    <td>
                        <a asp-action="Editar" asp-route-id="@item.id_pago" class="btn btn-primary">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                        <a asp-action="Eliminar" asp-route-id="@item.id_pago" class="btn btn-danger"
                            onclick="return confirm('¿Está seguro que desea eliminar el pago de @item.contrato.inquilino.Nombre @item.contrato.inquilino.Apellido?');">
                            <i class="fas fa-trash"></i> Eliminar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>