@model Inmueble;

@{
    ViewData["Title"] = "Editar";
    var ltaPropietarios = (List<Propietario>)ViewBag.Propietarios;
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div class="form-group">
                <label asp-for="Direccion"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Uso"></label>
                <select asp-for="Uso" class="form-control" asp-items="Html.GetEnumSelectList<UsoInmueble>()">
                    <option value="">Seleccione Uso</option>
                </select>
                <span asp-validation-for="Uso" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Tipo"></label>
                <select asp-for="Tipo" class="form-control" asp-items="Html.GetEnumSelectList<TipoInmueble>()">
                    <option value="">Seleccione Tipo</option>
                </select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Ambientes"></label>
                <input asp-for="Ambientes" class="form-control" />
                <span asp-validation-for="Ambientes" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Latitud"></label>
                <input asp-for="Latitud" class="form-control" type="number" step="any"/>
                <span asp-validation-for="Latitud" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Longitud"></label>
                <input asp-for="Longitud" class="form-control" type="number" step="any"/>
                <span asp-validation-for="Longitud" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Precio"></label>
                <input asp-for="Precio" class="form-control" type="number" step="any"/>
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Propietario</label>
                <select class="form-control" name="id_propietario">
                    @foreach (var item in ltaPropietarios)
                    {
                        @:<option value="@item.id_propietario" @(item.id_propietario == Model.id_propietario ? "selected" : "")>@item.Nombre @item.Apellido (@item.Dni)</option>
                    }
                </select>
                <span asp-validation-for="id_propietario" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>
