@model Contrato

@{
    var inmueble = ViewBag.Inmueble as Inmueble;
    var inquilinos = ViewBag.Inquilinos as List<Inquilino>;
    var usuario = ViewBag.Usuario as List<Usuario>;
}

<h2>Crear Contrato</h2>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My Application</title>

    <!-- Incluir Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div class="row">
    <div class="col-md-4">
<form asp-action="Alta">
    
    
    <div><input asp-for="id_inmueble" type="@inmueble.id_inmueble" hidden></div>
    <div class="form-group">
        <label>Dirección</label>
        <input value="@inmueble.Direccion" class="form-control" readonly />
    </div>

    
    <div class="form-group">
        <label for="id_inquilino">Inquilino</label>
        <select id="id_inquilino" name="id_inquilino" class="form-control">
            @foreach (var item in inquilinos)
            {
                <option value="@item.id_inquilino">@item.Nombre @item.Apellido (@item.Dni)</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="FechaInicio"></label>
        <input asp-for="FechaInicio" class="form-control" type="date" value="@Model.FechaInicio != DateTime.MinValue ? Model.FechaInicio.ToString("yyyy-MM-dd") : DateTime.Now.ToString("yyyy-MM-dd")" />
        <span asp-validation-for="FechaInicio" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FechaFin"></label>
        <input asp-for="FechaFin" class="form-control" type="date" value="@Model.FechaFin != DateTime.MinValue ? Model.FechaFin.ToString("yyyy-MM-dd") : DateTime.Now.AddYears(1).ToString("yyyy-MM-dd")" />
        <span asp-validation-for="FechaFin" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Precio"></label>
        <input asp-for="Precio" class="form-control" type="number" step="any" />
        <span asp-validation-for="Precio" class="text-danger"></span>
    </div>
   
    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>
</form>
</div>
</div>

<div>
    <a asp-action="Index">Indice</a>
</div>
<div>
    <a asp-action="Buscar">Volver a listado</a>
</div>
