@model IEnumerable<Contrato>;

@if (TempData["mensaje"] != null)
{
    <div class="alert alert-success">
        @TempData["mensaje"]
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        @TempData["error"]
    </div>
}


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My Application</title>

    <!-- Incluir Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css" />
</head>


<div>
    <h2>Agregados recientemente</h2>
    <h4>
        <a asp-action="Buscar" class="btn btn-success">
            <i class="fas fa-plus"></i> Crear Contrato
        </a>
    </h4>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Inquilino</th>
                <th>Dirección</th>
                <th>F. Ingreso</th>
                <th>F. Salida</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.id_contrato</td>
                    <td>@item.inquilino.Apellido</td>
                    <td>@item.inmueble.Direccion</td>
                    <td>@item.FechaInicio.ToString("d")</td> <!-- Formato corto -->
                    <td>@item.FechaFin.ToString("d")</td> <!-- Formato corto -->
                    <td>
                        <a asp-action="Detalles" asp-route-id="@item.id_contrato" class="btn btn-secondary">
                            <i class="fas fa-eye"></i> Ver Detalles
                        </a>
                        <a asp-action="Editar" asp-route-id="@item.id_contrato" class="btn btn-primary">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                        <a asp-action="Eliminar" asp-route-id="@item.id_contrato" class="btn btn-danger"
                            onclick="return confirm('¿Está seguro que desea eliminar el contrato de @item.inquilino.Apellido @item.inquilino.Nombre?');">
                            <i class="fas fa-trash"></i> Eliminar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>